{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-4">
    <h2>Listado de Productos desde Base de Datos</h2>
    <ul class="list-group">
        {% for producto in productos %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <strong>{{ producto.nombre }}</strong> - ${{ producto.precio }} 
                <span class="badge bg-secondary">Categoría ID: {{ producto.categoria_id }}</span>
            </li>
        {% endfor %}
    </ul>
</div>


{% endblock %}