{% extends 'base.html' %}
{% load static %}

{% block content %}

        <!-- Juegos -->

        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-10 d-flex flex-column">  
                    <div class="d-flex flex-row w-100">
                        <!-- Columna principal -->
                        <div class="producto-imagen col-md-6 d-flex justify-content-left">
                            <div class="galeria d-flex justify-content-center align-items-center">
                                <div class="mb-4 ms-5 d-flex justify-content-left align-items-left" style="margin-top: 75px;">
                                    <div class="carta" style="background: white; border: 3px solid black; width:450px; height: 450px;">
                                        <div class="card-body">
                                            <div id="carouselExampleCaptions" class="carousel slide w-100 h-100" data-bs-ride="carousel" style="width: 100%; height: 450px;">
                                                <div class="carousel-inner">
                                                    <div class="carousel-item active">
                                                        <div class="d-flex justify-content-center align-items-center" style="width: 100%; height: 450px;">
                                                            <img src="{% static 'core/Imagenes/caratula/re2r.png' %}" class="d-block" style="max-width: 100%; max-height: 100%; object-fit: contain;" alt="RE200">
                                                        </div>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <div class="d-flex justify-content-center align-items-center" style="width: 100%; height: 450px;">
                                                            <img src="{% static 'core/Imagenes/galeria/RE2/01.png' %}" class="d-block" style="max-width: 100%; max-height: 100%; object-fit: contain;" alt="RE201">
                                                        </div>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <div class="d-flex justify-content-center align-items-center" style="width: 100%; height: 450px;">
                                                            <img src="{% static 'core/Imagenes/galeria/RE2/02.png' %}" class="d-block" style="max-width: 100%; max-height: 100%; object-fit: contain;" alt="RE202">
                                                        </div>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <div class="d-flex justify-content-center align-items-center" style="width: 100%; height: 450px;">
                                                            <img src="{% static 'core/Imagenes/galeria/RE2/03.png' %}" class="d-block" style="max-width: 100%; max-height: 100%; object-fit: contain;" alt="RE203">
                                                        </div>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <div class="d-flex justify-content-center align-items-center" style="width: 100%; height: 450px;">
                                                            <img src="{% static 'core/Imagenes/galeria/RE2/04.png' %}" class="d-block" style="max-width: 100%; max-height: 100%; object-fit: contain;" alt="RE204">
                                                        </div>
                                                    </div>
                                                </div>
                                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Next</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                        
                        <div class="producto-info col-md-7 d-flex flex-column align-items-start p-3">
                            <h4><strong>Resident Evil 2: Remake</strong></h4>

                            <!-- Plataforma -->
                            <div class="w-100 py-2 border-bottom">
                                <strong>Plataforma:</strong> PC (Steam)
                            </div>

                            <!-- Precio -->
                            <div class="w-100 py-2 border-bottom">
                                <strong>Precio:</strong> $21.990 CLP
                            </div>

                            <!-- Cantidad y botón de añadir al carrito -->
                            <div class="w-100 py-2 d-flex align-items-center">
                                <label for="cantidad" class="me-2"><strong>Cantidad:</strong></label>
                                <input type="number" id="cantidad" class="form-control me-3" style="width: 60px;" value="1" min="1">
                                <button 
                                    class="btn btn-primary" 
                                    data-nombre="Resident Evil 2: Remake" 
                                    data-descripcion="Plataforma: PC (Steam)" 
                                    data-precio="21990"
                                    onclick="agregarAlCarritoDesdeHTML(this)">
                                    Agregar al carrito
                                    </button>
                            </div>                            
                        </div>                        
                    </div>                

                    <div class="producto-detalles container text-center w-100 mt-3">
                        <!-- Pestañas de navegación -->
                        <nav>
                            <div class="nav nav-tabs justify-content-left" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-descripcion-tab" data-bs-toggle="tab" data-bs-target="#nav-descripcion" type="button" role="tab" aria-controls="nav-descripcion" aria-selected="true">Descripción</button>
                                <button class="nav-link" id="nav-especificacion-tab" data-bs-toggle="tab" data-bs-target="#nav-especificacion" type="button" role="tab" aria-controls="nav-especificacion" aria-selected="false">Especificaciones</button>
                            </div>
                        </nav>
                    
                        <div class="tab-content" id="nav-tabContent">                        
                            <!-- Pestaña Descripción -->
                            <div class="tab-pane fade show active" id="nav-descripcion" role="tabpanel" aria-labelledby="nav-descripcion-tab" style="background: rgb(245, 180, 180); width: 100%; min-height: 750px; border-radius: 15px">
                                <div class="video d-flex justify-content-center">
                                    <!-- Video centrado -->
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/CWl0hOeJvzA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"  allowfullscreen></iframe>
                                </div>                                   
                                <p></p>
                                <p class="text-center">Vuelve Resident Evil 2, la obra maestra que definió un género, completamente renovado para una narrativa aún más intensa. Con el motor gráfico RE propietario de Capcom, Resident Evil 2 supone un nuevo 
                                    enfoque de esta saga clásica del survival horror, con gráficos espectacularmente realistas, estremecedor sonido inmersivo, una nueva vista sobre el hombro y nuevos controles, además de modos de juego del título original.</p>
                                <p></p>
                                <p class="text-center">Resident Evil 2 supone la vuelta de la acción clásica, la exploración tensa y las mecánicas de resolución de rompecabezas que definieron la serie. Los jugadores acompañarán al policía novato Leon S. Kennedy 
                                    y a la estudiante universitaria Claire Redfield, que se ven atrapados en una apocalíptica epidemia en Racoon City que ha transformado a su población en zombis mortíferos. Ambos personajes tienen sus propias campañas jugables, 
                                    lo que permite a los jugadores ver la historia desde dos puntos de vista. El destino de ambos personajes, favoritos de los fans, está en manos de los jugadores, que deberán hacerlos colaborar y llegar hasta el fondo de lo que 
                                    se esconde tras este terrorífico ataque a la ciudad. ¿Lograrán sobrevivir?</p>                  
                            </div>
                    
                            <!-- Pestaña Especificaciones -->
                            <div class="tab-pane fade" id="nav-especificacion" role="tabpanel" aria-labelledby="nav-especificacion-tab" style="background: rgb(245, 180, 180); width: 100%; min-height: 750px; border-radius: 15px">
                                <div class="row">
                                    <!-- Columna de requisitos mínimos -->
                                    <div class="col-md-6">
                                        <p></p>
                                        <h4 style="margin-left: 10px;"><strong><u>Mínimo:</u></strong></h4>
                                        <ul>
                                            <li>Requiere un procesador y un sistema operativo de 64 bits</li>
                                            <li><strong>SO:</strong> WINDOWS® 10 (64-BIT Required)</li>
                                            <li><strong>Procesador:</strong> Intel® Core™ i5-4460 or AMD FX™-6300 or better</li>
                                            <li><strong>Memoria:</strong> 8 GB de RAM</li>
                                            <li><strong>Gráficos:</strong> NVIDIA® GeForce® GTX 960 or AMD Radeon™ RX 460</li>
                                            <li><strong>DirectX:</strong> Versión 12</li>
                                            <li><strong>Almacenamiento:</strong> 26 GB de espacio disponible</li>
                                        </ul>
                                    </div>
                                
                                    <!-- Columna de requisitos recomendados -->
                                    <div class="col-md-6">
                                        <p></p>
                                        <h4 style="margin-left: 10px;"><strong><u>Recomendado:</u></strong></h4>
                                        <ul>
                                            <li>Requiere un procesador y un sistema operativo de 64 bits</li>
                                            <li><strong>SO:</strong> WINDOWS® 10 (64-BIT Required)</li>
                                            <li><strong>Procesador:</strong> Intel® Core™ i7-3770 or AMD FX™-9590 or better</li>
                                            <li><strong>Memoria:</strong> 8 GB de RAM</li>
                                            <li><strong>Gráficos:</strong> NVIDIA® GeForce® GTX 1060 or AMD Radeon™ RX 480 with 3GB VRAM</li>
                                            <li><strong>DirectX:</strong> Versión 12</li>
                                            <li><strong>Almacenamiento:</strong> 26 GB de espacio disponible</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>                    
                </div>
                
                <!-- Columna lateral -->    
                <div class="col-lg-2 d-flex justify-content-center align-items-start">                
                    <div class="carta" style="background: rgb(245, 180, 180); width: 250px; height: 350px; border-radius: 15px; margin-top: 15px">                   
                        <div class="contenido-barra-lateral d-flex justify-content-center align-items-center" style="height: 100%; border-radius: 25px">                      
                            <div class="d-flex flex-column align-items-center">                          
                                <div class="compra mb-4 text-center">                         
                                    <img src="{% static 'core/Imagenes/iconos/comprasegura.png' %}" class="img-fluid mb-2" style="max-width: 50px;">                         
                                    <p>Compra 100% segura y garantizada.</p>                          
                                </div>                         
                                <div class="atencion mb-4 text-center">                          
                                    <img src="{% static 'core/Imagenes/iconos/soporte.png' %}" class="img-fluid mb-2" style="max-width: 50px;">                         
                                    <p>Soporte Online y atención personalizada.</p>                          
                                </div>                     
                            </div>                  
                        </div> 
                        <hr class="lineaA">             
                    </div>         
                </div>
            </div>
        </div>
   

{% endblock %}