--
-- Create model Categoria
--
CREATE TABLE "CATEGORIA" ("ID_CATEGORIA" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "NOMBRE" NVARCHAR2(50) NULL);
--
-- Create model Plataforma
--
CREATE TABLE "PLATAFORMA" ("ID_PLATAFORMA" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "NOMBRE" NVARCHAR2(50) NULL);
--
-- Create model Rol
--
CREATE TABLE "MAIN_ROL" ("ID_ROL" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "NOMBRE" NVARCHAR2(50) NULL);
--
-- Create model Usuario
--
CREATE TABLE "USUARIO" ("PASSWORD" NVARCHAR2(128) NULL, "LAST_LOGIN" TIMESTAMP NULL, "IS_SUPERUSER" NUMBER(1) NOT NULL CHECK ("IS_SUPERUSER" IN (0,1)), "ID_USUARIO" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "NOMBRE" NVARCHAR2(100) NULL, "APELLIDO" NVARCHAR2(100) NULL, "CORREO" NVARCHAR2(254) NULL UNIQUE, "DIRECCION" NVARCHAR2(255) NULL, "TELEFONO" NVARCHAR2(20) NULL, "CLAVE" NVARCHAR2(255) NULL, "ACTIVO" NUMBER(1) NOT NULL CHECK ("ACTIVO" IN (0,1)), "IS_STAFF" NUMBER(1) NOT NULL CHECK ("IS_STAFF" IN (0,1)), "ID_ROL" NUMBER(11) NOT NULL);
CREATE TABLE "USUARIO_GROUPS" ("ID" NUMBER(19) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "USUARIO_ID" NUMBER(11) NOT NULL, "GROUP_ID" NUMBER(11) NOT NULL);
CREATE TABLE "USUARIO_USER_PERMISSIONS" ("ID" NUMBER(19) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "USUARIO_ID" NUMBER(11) NOT NULL, "PERMISSION_ID" NUMBER(11) NOT NULL);
--
-- Create model Compra
--
CREATE TABLE "COMPRA" ("ID_COMPRA" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "FECHA" TIMESTAMP NOT NULL, "TOTAL" NUMBER(10, 2) NOT NULL, "ESTADO" NVARCHAR2(50) NULL, "ID_USUARIO" NUMBER(11) NOT NULL);
--
-- Create model Producto
--
CREATE TABLE "PRODUCTO" ("ID_PRODUCTO" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "NOMBRE" NVARCHAR2(100) NULL, "DESCRIPCION" NCLOB NULL, "PRECIO" NUMBER(10, 2) NOT NULL, "STOCK" NUMBER(11) NOT NULL, "IMAGEN_URL" NVARCHAR2(255) NULL, "ID_CATEGORIA" NUMBER(11) NOT NULL, "ID_PLATAFORMA" NUMBER(11) NOT NULL);
--
-- Create model DetalleCompra
--
CREATE TABLE "DETALLE_COMPRA" ("ID_DETALLE" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "CANTIDAD" NUMBER(11) NOT NULL CHECK ("CANTIDAD" >= 0), "PRECIO_UNITARIO" NUMBER(10, 2) NOT NULL, "ID_COMPRA" NUMBER(11) NOT NULL, "ID_PRODUCTO" NUMBER(11) NOT NULL);
--
-- Create model Carrito
--
CREATE TABLE "CARRITO" ("ID_CARRITO" NUMBER(11) GENERATED BY DEFAULT ON NULL AS IDENTITY NOT NULL PRIMARY KEY, "CANTIDAD" NUMBER(11) NOT NULL CHECK ("CANTIDAD" >= 0), "ID_USUARIO" NUMBER(11) NOT NULL, "ID_PRODUCTO" NUMBER(11) NOT NULL);
ALTER TABLE "USUARIO" ADD CONSTRAINT "USUARIO_ID_ROL_C8C2A57F_F" FOREIGN KEY ("ID_ROL") REFERENCES "MAIN_ROL" ("ID_ROL") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "USUARIO_ID_ROL_C8C2A57F" ON "USUARIO" ("ID_ROL");
ALTER TABLE "USUARIO_GROUPS" ADD CONSTRAINT "USUARIO_G_USUARIO_I_5615D760_U" UNIQUE ("USUARIO_ID", "GROUP_ID");
ALTER TABLE "USUARIO_GROUPS" ADD CONSTRAINT "USUARIO_G_USUARIO_I_E5B75340_F" FOREIGN KEY ("USUARIO_ID") REFERENCES "USUARIO" ("ID_USUARIO") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "USUARIO_GROUPS" ADD CONSTRAINT "USUARIO_G_GROUP_ID_7FA4DC7D_F" FOREIGN KEY ("GROUP_ID") REFERENCES "AUTH_GROUP" ("ID") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "USUARIO_GR_USUARIO_ID_E5B75340" ON "USUARIO_GROUPS" ("USUARIO_ID");
CREATE INDEX "USUARIO_GR_GROUP_ID_7FA4DC7D" ON "USUARIO_GROUPS" ("GROUP_ID");
ALTER TABLE "USUARIO_USER_PERMISSIONS" ADD CONSTRAINT "USUARIO_U_USUARIO_I_E836D30A_U" UNIQUE ("USUARIO_ID", "PERMISSION_ID");
ALTER TABLE "USUARIO_USER_PERMISSIONS" ADD CONSTRAINT "USUARIO_U_USUARIO_I_970EEB7D_F" FOREIGN KEY ("USUARIO_ID") REFERENCES "USUARIO" ("ID_USUARIO") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "USUARIO_USER_PERMISSIONS" ADD CONSTRAINT "USUARIO_U_PERMISSIO_03A80355_F" FOREIGN KEY ("PERMISSION_ID") REFERENCES "AUTH_PERMISSION" ("ID") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "USUARIO_US_USUARIO_ID_970EEB7D" ON "USUARIO_USER_PERMISSIONS" ("USUARIO_ID");
CREATE INDEX "USUARIO_US_PERMISSION_03A80355" ON "USUARIO_USER_PERMISSIONS" ("PERMISSION_ID");
ALTER TABLE "COMPRA" ADD CONSTRAINT "COMPRA_ID_USUARI_19AB5EC9_F" FOREIGN KEY ("ID_USUARIO") REFERENCES "USUARIO" ("ID_USUARIO") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "COMPRA_ID_USUARIO_19AB5EC9" ON "COMPRA" ("ID_USUARIO");
ALTER TABLE "PRODUCTO" ADD CONSTRAINT "PRODUCTO_ID_CATEGO_524A28B9_F" FOREIGN KEY ("ID_CATEGORIA") REFERENCES "CATEGORIA" ("ID_CATEGORIA") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "PRODUCTO" ADD CONSTRAINT "PRODUCTO_ID_PLATAF_A30DD148_F" FOREIGN KEY ("ID_PLATAFORMA") REFERENCES "PLATAFORMA" ("ID_PLATAFORMA") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "PRODUCTO_ID_CATEGORIA_524A28B9" ON "PRODUCTO" ("ID_CATEGORIA");
CREATE INDEX "PRODUCTO_ID_PLATAFO_A30DD148" ON "PRODUCTO" ("ID_PLATAFORMA");
ALTER TABLE "DETALLE_COMPRA" ADD CONSTRAINT "DETALLE_C_ID_COMPRA_96920567_F" FOREIGN KEY ("ID_COMPRA") REFERENCES "COMPRA" ("ID_COMPRA") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "DETALLE_COMPRA" ADD CONSTRAINT "DETALLE_C_ID_PRODUC_1C590635_F" FOREIGN KEY ("ID_PRODUCTO") REFERENCES "PRODUCTO" ("ID_PRODUCTO") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "DETALLE_CO_ID_COMPRA_96920567" ON "DETALLE_COMPRA" ("ID_COMPRA");
CREATE INDEX "DETALLE_CO_ID_PRODUCT_1C590635" ON "DETALLE_COMPRA" ("ID_PRODUCTO");
ALTER TABLE "CARRITO" ADD CONSTRAINT "CARRITO_ID_USUARI_E2453E08_F" FOREIGN KEY ("ID_USUARIO") REFERENCES "USUARIO" ("ID_USUARIO") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "CARRITO" ADD CONSTRAINT "CARRITO_ID_PRODUC_188AB6E1_F" FOREIGN KEY ("ID_PRODUCTO") REFERENCES "PRODUCTO" ("ID_PRODUCTO") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "CARRITO_ID_USUARIO_E2453E08" ON "CARRITO" ("ID_USUARIO");
CREATE INDEX "CARRITO_ID_PRODUCTO_188AB6E1" ON "CARRITO" ("ID_PRODUCTO");
